@model Movie


<div class="row">
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <img src="@Model.ImageThumbnailUrl" class="img-fluid" />
            <div class="figure-caption">
                <h3>Name: @Model.Name</h3>
                <h3 class="pull-right">Price: @Model.Price.ToString("c")</h3>
                <h3>Rating: @Model.Rating</h3>
                <h3>Description: @Model.Description</h3>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-movieId="@Model.MovieId">
                        Add to cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>